<% layout("/layouts/boilerplate") %>

<div class="container mt-5" style="max-width: 450px;">

  <% if (success && success.length) { %>
    <div class="alert alert-success text-center"><%= success %></div>
  <% } %>

  <% if (error && error.length) { %>
    <div class="alert alert-danger text-center"><%= error %></div>
  <% } %>

  <div class="card shadow p-4">
    <h2 class="text-center mb-4">Sign Up</h2>

    <form action="/signup" method="POST">
      <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" name="email" required>
      </div>

      <div class="mb-3">
        <label>Username</label>
        <input type="text" class="form-control" name="username" required>
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" name="password" required>
      </div>

      <button class="btn btn-primary w-100">SignUp</button>
    </form>
  </div>
</div>
